<div class="HowItWorks">
    <div class="main-text">How It Works</div>
    <div class="items">
        <div class="items-items">
            <div class="items-items-items">
                <div class="text-button">Exepteur sint occasect cupidatnt <p> not proident</div>
                <div class="icon1"></div>
                <div class="arrow-dotted"></div>
                <div class="icons-text-button">
                    Post a Job
                </div>
            </div>
            <div class="items-items-items">
                    <div class="text-button">Exepteur sint occasect cupidatnt <p> not proident</div>
                <div class="icon2"></div>
                <div class="arrow-dotted"></div>
                <div class="icons-text-button">
                    Fine Specialist
                </div>
            </div>
            <div class="items-items-items">
                    <div class="text-button">Exepteur sint occasect cupidatnt <p> not proident</div>
                <div class="icon3"></div>
                <div class="arrow-dotted"></div>
                <div class="icons-text-button">
                    Hire & Work
                </div>
            </div>
            <div class="items-items-items">
                    <div class="text-button">Exepteur sint occasect cupidatnt <p> not proident</div>
                <div class="icon4"></div>
                <div class="icons-text-button">
                    Pay
                </div>
            </div>
        </div>
    </div>
</div>
