.header {
    background-color: #e64545;
    height: 750px;
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.header__logo {
    font-size: 50px;
    line-height: 45px;
    color: #ffffff;
    font-family: "Susa Light";
    font-weight: 300;
    margin-left: 82px;
    margin-top: 50px;
}

.header_background_left {
    background: url("/assets/images/header-left.svg") no-repeat;
    width: 850px;
    height: 850px;
    position: absolute;
    top: -130px;
    left: -294px;
    z-index: -1;
    background-size: contain;
}

.header_background_right {
    background: url("/assets/images/header-right.svg") no-repeat;
    width: 520px;
    height: 520px;
    position: absolute;
    bottom: 0;
    right: -180px;
    z-index: -1;
    background-size: contain;

}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;

}

.header__menu_items {
    display: flex;
    justify-content: center;
    flex-direction: row;

}

.header__menu_items_item {
    margin: 0 15px;
    color: #ffffff;
}

.header_text_join_up {
    font-size: 24px;
    line-height: 46px;
    color: white;
    font-family: "Open Sans";
    font-weight: 400;
    position: absolute;
    top: 298px;
    left: 562px;
    border: 3px solid black;
    padding: 3px 48px;
    border-radius: 14px;
    background-color: black;


}

.header_text {
    top: 189px;
    left: 565px;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.header_text_top {
    font-size: 41px;
    line-height: 45px;
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 300;
}

.header_text_botton {
    font-size: 18px;
    line-height: 45px;
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 300;
}

.link {
    color: white;
    text-decoration: none;
}

.link:hover {
    color: #ccc;
}

.main_text {
    width: 100%;
    height: 304px;
    background-color: #ffffff;
    left: 0;
    bottom: 0;
    position: absolute;

}

.main_text_1 {
    font-size: 23px;
    line-height: 50px;
    color: #000000;
    font-family: "Open Sans";
    font-weight: 300;
    position: absolute;
    top: 46px;
    right: 559px;

}

.main_text_2 {
    width: 864px;
    height: 201px;
    font-size: 14px;
    line-height: 20px;
    color: #404040;
    font-family: "Open Sans";
    font-weight: 300;
    position: absolute;
    top: 98px;
    left: 175px;

}
