<header class="header">
    <div class="header_background_left"></div>
    <div class="header__menu">
        <div class="header__logo">MW</div>
        <ul class="header__menu_items">
            <li class="header__menu_items_item"><a class="link" href="http://www.google.com">THE PRODUCTS</a></li>
            <li class="header__menu_items_item"><a class="link" href="http://www.google.com">SERVICES</a></li>
            <li class="header__menu_items_item"><a class="link" href="http://www.google.com">CONTACT US</a></li>
        </ul>
    </div>
    <a class="link" href="http://www.google.com">
        <div class="header_text_join_up">Join Up</div>
    </a>
    <div class="header_text">
        <div class="header_text_top">Join the colors.</div>
        <div class="header_text_botton">There are only 3 colors, 10 digits</div>
    </div>
    <div class="header_background_right"></div>
    <div class="main_text">
        <div class="main_text_1">There are only 3 colors, 1 0 digits </div>
        <div class="main_text_2">
            <p>To make the text match the perspective of the book, we first need to convert itTo make the text match
                the
                perspective of the book, we first need to </p>
            <p>into a Smart Object. Right Click on your Text Layer and select Convert to Smart OTo make the text match
                the
                perspective of the book, we first need to </p>
            <p> bject. If you would like to edit you text after it has already been converted toTo make the text match
                the
                perspective of the book, we first need to </p>
        </div>
    </div>

</header>
