<div class="icon"
 (mouseenter)="mouseenter()" 
 (mouseleave)="mouseleave()" 
 [ngClass]="{'nesentered': centeredItems}">
    <img class="icon1" [src]="image" alt="">
    <p>{{ text }}</p>
    <div class="isactive" *ngIf="isActive"  >
        <div class='text'
            [ngClass]="{
                'text1': param === 'param1',
                'text2': param === 'param2',
                'text3': param === 'param3',
                'text4': param === 'param4',
                'text5': param === 'param5',
                'text6': param === 'param6',
                'text7': param === 'param7',
                'text8': param === 'param8'
            }">
        {{ text1 }} {{text2}} {{text3}} {{text4}} 
        {{text5}} {{text6}} {{text7}} {{text8}}  </div>
    </div>
    <div class='button3'
        [ngClass]="{
            'button22': button22 === 'button22'
        }">
        {{ button22 }}
    </div>
</div>

