<div class="body">
    <div class="main_text"> Our Features </div>
    <div class="content">
        <div class="block1">
            <div class="menu">
                <div class="menu1">
                    <div class="check1"></div>Lorem ipsum dolor sit amet consectetur adipisicing
                </div>
                <div class="menu1">
                    <div class="check1"></div>Lorem ipsum dolor sit amet consectetur adipisicing
                </div>
                <div class="menu1">
                    <div class="check1"></div>Lorem ipsum dolor sit amet consectetur adipisicing
                </div>
                <div class="menu1">
                    <div class="check1"></div>Lorem ipsum dolor sit amet consectetur adipisicing
                </div>
            </div>
        </div>
        <div class="block2">
            <div class="inner">
                <div class="mybutton green">
                    <div class="mybutton__image-time"></div>
                    <div class="mybutton__text">Fixed Free</div>
                    <div class="mybutton__label">
                        <div class="mybutton__label_inner">
                            BUDGET
                        </div>
                    </div>
                </div>
                <div class="mybutton blue">
                    <div class="mybutton__image-money"></div>
                    <div class="mybutton__text">Hourle Rate</div>
                    <div class="mybutton__label">
                        <div class="mybutton__label_inner">
                            BUDGET
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
