<header class="header">
    <div class="classb">
        <div class="logo">LOGO</div>
        <ul class="logo_items">
            <li class="logo_items_item"> <a class="text_decoration1" href="https://www.google.com"> How It Works</a></li>
            <li class="logo_items_item"> <a class="text_decoration1" href="https://www.google.com">Brows</a></li>
            <li class="logo_items_item"> <a class="text_decoration1" href="https://www.google.com">Sucsses Stories</a></li>
            <li class="logo_items_item"> <a class="text_decoration1" href="https://www.google.com">About</a></li>
            <li class="logo_items_item"> <a class="text_decoration1" href="https://www.google.com"> Blog</a></li>
        </ul>
        <ul class="registration">
            <li class="registration_user"> <a class="text_decoration1" href="https://www.google.com">Sing Up</a></li>
            <li class="registration_user"> <a class="text_decoration1" href="https://www.google.com">Sing In</a></li>
        </ul>
    </div>
    <div class="classa">
        <div class="main_text"> Hire a Profissional for Your Bisiness</div>
        <div class="main_text_button">Subtitle goes here maybe very long</div>
        <div class="knopka">
            <a class="knopka_decoration" href="#"> Post a Project </a>
        </div>
    </div>
    <div class="mouse_icon"></div>
</header>
